/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* app/assets/stylesheets/application.css */
.search-results {
  margin-top: 20px;
}

.movie-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed for your layout */
}

.poster img {
  max-width: 100%;
  height: auto;
}

.ratings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ratings li {
  margin-bottom: 5px;
}

.ratings strong {
  font-weight: bold;
}

.movie-info h2 {
  font-size: 18px;
  margin: 0;
}
